.logo-style {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 40px;
}
.text-style{
    width: 40%;
    margin-left: 30%;
    color: gray;
    text-align: center;
    margin-top: 30px;
}
ion-button {
    --ion-color-primary:  #002d62;
    --border-radius: 15px;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
}

.button-style {
    width: 34%;
    margin-left: 33%;
    color: rgb(163, 163, 163);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}
