<ion-content>
  <div>
    <img class="arrow-back" src="../../assets/back.png" alt="back">
    <H1 class="title">
      Questionnaire
    </H1>
    <ion-button size="large" class="bt-clear">Spell check</ion-button>

    <img class="menu" src="../../assets/menu.png" alt="menu">
  </div>
  <div class="container">
    <div class="relative">
      <h1 class="section-style">Section 1 - Strategy & Planning</h1>
      <ion-icon class="icon-style" name="radio-button-off-outline"></ion-icon>
    </div>
    <div class="relative">
      <h1 class="section-style">Section 2 - Purchasing</h1>
      <ion-icon class="icon-style" name="radio-button-off-outline"></ion-icon>
    </div>
    <div class="relative">
      <h1 class="section-style">Section 3 - Control of production │ Maintenance</h1>
      <ion-icon class="icon-style" name="radio-button-off-outline"></ion-icon>
    </div>
    <div class="relative">
      <h1 class="section-style">Section 4 - Monitoring e Measurement</h1>
      <ion-icon class="icon-style" name="radio-button-off-outline"></ion-icon>
    </div>
  
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full">Results</ion-button>
</ion-footer>