<ion-content>
  <div class="container">

    <div class="logo-style">
      <img src="../../assets/electrolux-logo.png" alt="logo">
    </div>

    <div class="arrow-back">
      <img src="../../assets/back.png" alt="back">
    </div>
  </div>

  <div class="img-style">
    <img src="../../assets/text.svg" alt="img">
  </div>

  <div>

    <p class="name-input">
      Lorem ipsum
    </p>
    <ion-item class="style-input">
      <ion-label></ion-label>
      <ion-input placeholder="Type Here"></ion-input>
    </ion-item>

  </div>

  <div class="button-style">
    <ion-button expand="block">Send</ion-button>
  </div>
</ion-content>