<ion-content>

  <div class="logo-style">
    <img src="../../assets/electrolux-logo.png" alt="logo">
  </div>

  <div class="container">

    <div>
      <img class="more-style" src="../../assets/more.png" alt="img">
    </div>

    <div class="create">
      <h1>Create new audit</h1>
    </div>
  </div>

  <div class="container-card">

    <div class="blue-card">
      <img class="img-card" src="../../assets/img-card.svg" alt="img">
    </div>

    <div class="white-card">

      <h1 class="title-card">Supplier Name - 30/10/2020</h1>

      <p class="subtitle-card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae distinctio, vel exercitationem
      </p>

      <div class="status">
        <p class="absolute">Incomplete</p>
      </div>

      <img class="down" src="../../assets/down.png" alt="img">
    </div>

  </div>

  <div>

    <ion-button class="button" >Backup</ion-button>

    <img class="help" src="../../assets/help-home.png" alt="help">
  </div>
</ion-content>